# harsharma7958_db_user
# LBG4HVoOdag9gnVU

PORT=5000
MONGO_URI=mongodb+srv://harsharma7958_db_user:LBG4HVoOdag9gnVU@cluster0.shkjjfu.mongodb.net/campussafar_crm
JWT_SECRET=change_this_secret
JWT_REFRESH_SECRET=change_this_refresh_secret
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
STALE_LEAD_DAYS=5
FRAUD_FAST_LOG_SECONDS=10

GOOGLE_CLIENT_ID=105826884638-nl89id64vkgb4io175hp4t8gjtb07kho.apps.googleusercontent.com
